# VSCode
.vscode

# Intellij
*.iml
.idea

# npm
node_modules

# Sourcemaps
*.map

# MacOS Finder view states
.DS_Store

# Generated project files
main.js
data.json
scrolling-positions.json

# Tests
coverage/
