/*
 *
 * name: Scrolling
 * id: scrolling
 *
 */

/* Hide specific scrollbars in files */
body.scrolling-visibility-hide *::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar temporarily */
body.scrolling-visibility-scroll *:not(.scrolling-show-temporary)::-webkit-scrollbar,
body.scrolling-visibility-scroll *:not(.scrolling-show-temporary)::-webkit-scrollbar-thumb,
body.scrolling-visibility-scroll *:not(.scrolling-show-temporary)::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Scrollbar width */
body.scrolling-scrollbar-width *::-webkit-scrollbar {
  width: var(--scrolling-scrollbar-width) !important;
  height: var(--scrolling-scrollbar-width) !important;
}

/* Horizontal scrollbar for file tree */
body.scrolling-filetree-horizontal .nav-files-container {
    overflow: auto;
}

body.scrolling-filetree-horizontal .nav-files-container > div {
    min-width: max-content;
    min-height: max-content;
}

body.scrolling-filetree-horizontal .tree-item-self.nav-file-title,
body.scrolling-filetree-horizontal .tree-item-self.nav-folder-title {
    flex-shrink: 0;
}

/* Scrollable code in editing view */
body.scrolling-horizontal-code-blocks .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end) {
    overflow-x: auto;
    word-wrap: normal;
    white-space: nowrap;
    touch-action: pan-y pinch-zoom;
}

body.scrolling-horizontal-code-blocks .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line:not(.HyperMD-codeblock-begin):not(.HyperMD-codeblock-end)::after {
    content: '';
    display: inline-block;
    position: absolute;
    width: var(--scrolling-extra-line-length);
    height: 1px;
}

body.scrolling-horizontal-code-blocks .HyperMD-codeblock.HyperMD-codeblock-bg.cm-line::-webkit-scrollbar {
    display: none;
}

body.scrolling-horizontal-code-blocks .HyperMD-codeblock.HyperMD-codeblock-begin.HyperMD-codeblock-begin-bg.HyperMD-codeblock-bg.cm-line {
    padding-bottom: 0.6rem;
}

/* Scrollable code in reading view */
body.scrolling-horizontal-code-blocks .markdown-preview-view pre > code {
    white-space: pre;
    overflow-x: auto;
    display: block;
}

/* Image zoom */
body.scrolling-image-zoom-enabled img {
    transform-origin: top left;
    vertical-align: bottom;
}

body.scrolling-image-zoom-enabled span.image-embed:has(img) {
    display: inline-block;
    overflow: hidden;
}

body.scrolling-image-zoom-enabled div.image-container:has(img) {
    display: block;
    overflow: hidden;
}
