/*
 *
 * name: Scrolling
 * id: scrolling
 *
 */

/* Hide scrollbars */
.scrolling-hide-scrollbars .markdown-source-view,
.scrolling-hide-scrollbars .cm-scroller {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.scrolling-hide-scrollbars .markdown-source-view::-webkit-scrollbar,
.scrolling-hide-scrollbars .cm-scroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar on element temporarily */
.scrolling-transparent::-webkit-scrollbar,
.scrolling-transparent::-webkit-scrollbar-thumb,
.scrolling-transparent::-webkit-scrollbar-track {
    background: transparent !important;
}

/* Scrollbar width */
.scrolling-width * {
  scrollbar-width: var(--scrolling-scrollbar-width) !important;
  scrollbar-height: var(--scrolling-scrollbar-width) !important;
}

.scrolling-width *::-webkit-scrollbar {
  width: var(--scrolling-scrollbar-width) !important;
  height: var(--scrolling-scrollbar-width) !important;
}

/* Horizontal scrollbar for file tree */
.scrolling-filetree-horizontal .nav-files-container {
    overflow: auto;
}

.scrolling-filetree-horizontal .nav-files-container > div {
    min-width: max-content;
    min-height: max-content;
}

.scrolling-filetree-horizontal .tree-item-self .nav-file-title,
.scrolling-filetree-horizontal .tree-item-self .nav-folder-title {
    flex-shrink: 0;
}
